body {
    background-color: rgba(0, 0, 1, 0.1);
}

.box1 {
    width: 100px;
    height: 100px;
    padding: 10px;
    background-color: orange;
}


/* background-repeat 背景图片平铺模式 repeat， 默认x，y平铺， repeat-x x轴平铺， repeat-y y轴平铺, no-repeat 不平铺*/
/* background 为综合属性 */
/* background: 颜色 图片 no-repeat center center
                        重复        background-position
*/
.box2 {
    width: 300px;
    height: 650px;
    background-image: url(http://climg.mukewang.com/58dc9d360001d65806500650.jpg);
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 350px;
    /* 背景图片的尺寸，兼容到ie9, 等比例写auto */
    /* background-size: 100px 100px;   cotain将背景图片智能改变尺寸，以容纳盒子,在盒子中完整显示， cover 图片覆盖盒子，图片被裁剪*/
    
    background-size: contain;
    border: 1px solid red;

}

.box3 {
    width: 300px;
    height: 650px;
    background-image: url(http://climg.mukewang.com/58dc9d360001d65806500650.jpg);
    text-align: center;
    padding-top: 350px;
    background-size: cover;
    border: 1px solid red;
    margin-bottom: 20px;
}

.box4 {
    
    width: 300px;
    height: 650px;
    background-image: url(http://climg.mukewang.com/58dc9d360001d65806500650.jpg);
    text-align: center;
    padding-top: 350px;
    background-size: 300px auto;
    border: 1px solid red;
   
}
/* background-clip: 背景裁切，兼容到ie9  padding-box, content-box,  border-box*/
.box5 {
    width: 300px;
    height: 300px;
    background-image: url(http://climg.mukewang.com/58dc9d360001d65806500650.jpg);
    border: 3px dashed red;
    padding: 60px;
    background-clip: padding-box;
    margin-bottom: 30px;
    background-size: 20% auto;
    /* 背景起源 */
    background-origin: content-box;
    /* background-attachment: fixed;  */
}

.box5 {
    width: 300px;
    height: 300px;
    background-image: url(http://climg.mukewang.com/58dc9d360001d65806500650.jpg);
    border: 3px dashed red;
    padding: 60px;
    background-clip:content-box;
    margin-bottom: 30px;
}


.box6 {
    width: 300px;
    height: 300px;
    background-image: url(http://climg.mukewang.com/58dc9d360001d65806500650.jpg);
    border: 3px dashed red;
    padding: 60px;
    margin-bottom: 20px;
}
/*  background-attachment 
fixed自己滚动条不动，外部滚动条不动  
scroll 自己滚动条不动，外部滚动条动（默认）
local 自己滚动条动，外部滚动条动*/
.box7 {
    width: 200px;
    height: 300px;
    border: 1px solid black;
    /* 溢出的内容用滚动条显示 overflow-y 表示纵向*/
    overflow: scroll;
    background-image: url(http://climg.mukewang.com/58dc9d360001d65806500650.jpg);
    background-attachment: fixed;
   /* background-attachment: scroll; */
   /* background-attachment: local; */
}

.box8 {
    width: 300px;
    height: 400px;
    border: 1px solid black;
    background-image: url(http://climg.mukewang.com/58dc9d360001d65806500650.jpg);
    background-size: 50%;
    background-position: 100px 50px;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

.box9 {
    width: 300px;
    height: 400px;
    border: 1px solid black;
    background-image: url(http://climg.mukewang.com/58dc9d360001d65806500650.jpg);
    background-size: 50%;
    background-position: top right;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

.box10, .box11, .box12 {
    width: 300px;
    height: 90px;
    margin-bottom: 10px;
    background-position: center center;
}

.box10 {
    background-image: url(http://climg.mukewang.com/582c3b780001a95103000090.jpg);
}

.box11 {
    background-image: url(http://climg.mukewang.com/582c3b6d0001197603000090.jpg);
}

.box12 {
    background-image: url(http://climg.mukewang.com/582c3b61000122dd03000090.jpg);
}

/* 线性渐变 */
.box13 {
    width: 300px;
    height: 90px;
    margin-bottom: 10px;
    background-position: center center;
    /* linear-gradient 方向（也可以写度数） 开始颜色 结束颜色 （也可以定义多个颜色值，用%定义位置）*/
    background-image: linear-gradient(to right, red, blue);
}
.box14 {
    width: 300px;
    height: 90px;
    margin-bottom: 10px;
    background-position: center center;
    /* linear-gradient 方向（也可以写度数） 开始颜色 结束颜色 （也可以定义多个颜色值，用%定义位置）*/
    background-image: linear-gradient(45deg, red, orange 20%, blue);
}


.box15, .box16, .box17, .box18, .box19, .box20 {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.box15{
    background-image: linear-gradient(to bottom, yellow, red);
}

.box16{
    background-image: linear-gradient(to right, yellow, red);
}

.box17{
    background-image: linear-gradient(315deg, yellow, red);
}

.box18{
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0) ,white 20%, red 50%, rgba(0,255,0,0.7) 90%, green);
}

.box19{
    background-image: radial-gradient(50% 50%, red, blue, yellow)
}

.box20 {
    background-image: radial-gradient(50% 50%, white 0%, white 60%, yellow 60%, yellow 70%, green 70%, green 80%, blue 80%, blue 90%, white 90%, white 100%);
}

/* 镜像渐变 */
/* 浏览器的私有前缀 
Chrom --webkit--
Firebox -moz-
IE,Edge -ms-
欧朋 -o-
 */

/* css精灵技术： 将多个小图标合并到一张图片上，使用 background-position属性单独显示其中一个，这叫做css精灵，也叫css雪碧图*/
/* css精灵：可以减少http的请求数，加快显示速度，不方便测量，改动麻烦 */

body ul li a{text-decoration:none;}
body ul{list-style:none;}
body ul li div{
    background-image:url("http://climg.mukewang.com/582c37e50001b08102000065.jpg");
    width:100px;
    height:100px;
    display:none;
    border:2px solid red;
    background-repeat:no-repeat;
} 

body ul .length:hover div{
    display:block;
    background-size:100px 100px;
}
body ul .percent:hover div{
    display:block;
    background-size:50% 50%;
}
body ul .cover:hover div{
    display:block;
    background-size:cover;
}
body ul .contain:hover div{
    display:block;
    background-size:contain;
}

.border,.padding,.content{/*给最外层的div设置样式*/
    width:300px;height:300px;
    float:left;margin-left:50px;
}
a{
    text-decoration:none;
    font-size:30px;
}
.div1,.div2,.div3{/*放置背景图片的div样式*/
    width:220px;height:200px;
    border:10px solid rgba(0,255,0,0.3);
    padding:50px; 
    background-image:url("http://climg.mukewang.com/582c316e0001fd6507000210.jpg");
    display: none;
    margin-top:50px;
}
.border:hover div,.padding:hover div,.content:hover div{
    display:block;
}

.border:hover .div1 {
    background-clip: border-box;
    background-origin: border-box;
}

.padding:hover .div2 {
    background-clip: padding-box;
}

.content:hover .div3 {
    background-clip: content-box;
}
